@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #F7EFED;
}

.slick-slide > div{
  margin: 0 10px;
}

.slick-arrow {
  background: #000;
  border-radius: 100%;
}

/* 
input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text{
  @apply text-black transform -translate-y-10 -translate-x-2 scale-75;
} */